<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOG IN</title>
</head>
<body>
    <div>
        <form action="/login" method="post">
            Username <input type="text" name="username">
            Password <input type="password" name="password">&nbsp;
            <input type="checkbox" name="remember"> Remember me (30 days) 
            <input type="submit" value="LOG IN">
        </form>
    </div>
</body>
</html>