<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERS</title>
</head>
<body>
    <h1>All Users</h1>
    <div>
        <ul>
            <% for (user of users) { 
                if (user.name == sessionUser.name) { %>
            <li><b><%= user.name %></b></li>
            <%  } else { %>
            <li><%= user.name %></li>
            <% }} %>
        </ul>
    </div>
    <div>
        <a href="/">Back to Home Page</a> &nbsp;
        <a href="/logout">Logout</a>
    </div>
</body>
</html>